[submodule "libraries/dealii"]
	path = libraries/dealii
	url = git@github.com:dealii/dealii.git
[submodule "libraries/psctoolkit"]
	path = libraries/psctoolkit
	url = git@github.com:psctoolkit/psctoolkit.git
[submodule "applications/heart/lifex"]
	path = applications/heart/lifex
	url = git@gitlab.com:lifex/lifex.git
[submodule "tools/polygonal"]
	path = tools/polygonal
	url = git@github.com:fdrmrc/Polydeal.git
